/* lovelygallery lovely3d skin */



.lg-lovely3d .lg-playvideo {
	width: 50px;
	height: 50px;
	margin-left: -25px;
	margin-top: -25px;
}

.lg-lovely3d .lg-playvideo,
.lg-lovely3d .lg-nav-sides,
.lg-lovely3d .lg-bottom-slidebuttons a,
.lg-lovely3d .lg-nav-prev,
.lg-lovely3d .lg-nav-next,
.lg-lovely3d .lg-nav-start,
.lg-lovely3d .lg-nav-stop,
.lg-lovely3d .lg-fullscreen,
.lg-lovely3d .lg-loading-container {
	background-image: url(skin.png);	
}

.lg-lovely3d .lg-playvideo {
	background-position: -300px -150px;
}

.lg-lovely3d .lg-playvideo:hover,
.lg-lovely3d .lg-vpcontainer:hover .lg-playvideo {
	background-position: -375px -150px;
}

.lg-lovely3d .lg-nav-prev {
	background-position: 0px 0px;
}

.lg-lovely3d .lg-nav-prev:hover {
	background-position: 0px -75px;
}

.lg-lovely3d .lg-nav-next {
	background-position: -150px 0px;
}

.lg-lovely3d .lg-nav-next:hover {
	background-position: -150px -75px;
}

.lg-lovely3d .lg-nav-start {
	background-position: -300px 0px;
}

.lg-lovely3d .lg-nav-start:hover,
.lg-lovely3d .lg-nav-start-active {
	background-position: -300px -75px;
}

.lg-lovely3d .lg-nav-stop {
	background-position: -450px 0px;
}

.lg-lovely3d .lg-nav-stop:hover,
.lg-lovely3d .lg-nav-stop-active {
	background-position: -450px -75px;
}

.lg-lovely3d .lg-bottom-slidebuttons a {
	background-position: 0px -150px;
}

.lg-lovely3d .lg-bottom-slidebuttons a.lg-nav-active,
.lg-lovely3d .lg-bottom-slidebuttons a:hover {
	background-position: -75px -150px;
}

.lg-lovely3d .lg-nav-sideleft {
	background-position: -150px -150px;	
}

.lg-lovely3d .lg-nav-sideright {
	background-position: -225px -150px;	
}



.lg-lovely3d .lg-nav-prev,
.lg-lovely3d .lg-nav-next {
	width: 68px;
	height: 68px;
	z-index: 10000;
	top: 50%;
	margin-top: -34px;	
	position: absolute;
}

.lg-lovely3d .lg-nav-prev {
	left: 10px;	
}

.lg-lovely3d .lg-nav-next {
	right: 10px;	
}



.lg-lovely3d .lg-bottom-slidebuttons,
.lg-lovely3d .lg-bottom-slidebuttons a,
.lg-lovely3d .lg-nav-start,
.lg-lovely3d .lg-nav-stop,
.lg-lovely3d .lg-nav-sides {
	height: 20px;
}

.lg-lovely3d .lg-bottom-slidebuttons,
.lg-lovely3d .lg-bottom-slidebuttons a,
.lg-lovely3d .lg-nav-start,
.lg-lovely3d .lg-nav-stop,
.lg-lovely3d .lg-nav-sides {
	display: inline-block;
}

.lg-lovely3d .lg-bottom-slidebuttons,
.lg-lovely3d .lg-nav-start,
.lg-lovely3d .lg-nav-stop,
.lg-lovely3d .lg-nav-sides {
	top: -30px;
}

.lg-lovely3d .lg-nav-start,
.lg-lovely3d .lg-nav-stop {
	width: 25px;
}

.lg-lovely3d .lg-bottom-slidebuttons a {
	width: 20px;
}

.lg-lovely3d .lg-nav-sides {
	width: 0px;	
}



.lg-lovely3d .lg-thumbnail-hover {
	bottom: 30px;
	padding: 3px;
}

.lg-lovely3d .lg-thumbnail-hover-bg {
	background: #eee;
	box-shadow: 0px 2px 12px -4px black;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;	
}

.lg-lovely3d .lg-thumbnail-hover span {
	border: 5px solid #eee;
	margin-left: -5px;
}



.lg-lovely3d .lg-thumbnail {
	top: 10px;
}

.lg-lovely3d .lg-thumbnail-inner {
	padding: 3px;
	margin-left: -3px;
	background: #fff;
	box-shadow: 0px 3px 15px -5px #000;
	-moz-box-shadow: 0px 3px 15px -5px #000;
	-webkit-box-shadow: 0px 3px 15px -5px #000;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;	
}

.lg-lovely3d .lg-thumbnail-slide a {
	margin-right: 3px;
}

.lg-lovely3d .lg-nothumb {
	background: #eee;
}



.lg-lovely3d .lg-shadow {
	display: block;
}



.lg-lovely3d .lg-loading-container {
	width: 40px;
	height: 40px;
	margin-left: -20px;
	margin-top: -20px;
	background-position: -450px -150px;	
}

.lg-lovely3d .lg-loading-indicator {
	width: 22px;
	height: 22px;
	margin-top: 9px;
	background-image: url(loading.gif);	
}



.lg-lovely3d .lg-fullscreen {
	width: 30px;
	height: 30px;
	right: 10px;
	top: 10px;
	background-position: -525px -150px;
}

.lg-lovely3d .lg-fullscreen:hover {
	background-position: -525px -190px;
}