@charset "utf-8";
@import "reset.css";
*{
  padding: 0;
  margin: 0;
}
@mixin full{
  width: 100%;
  height: 100%;
  overflow: hidden;
}
html,body.container{
  @include full;
  background: #e63178;

}
.container{
  @include full;
}
.btn{
  width: 26px;
  height: 15px;
  z-index: 5;
  position: absolute;
  right: 10px;
  top: 50%;
  margin-top: -10px;
  background: url("../images/arrow.png") center center no-repeat;
  background-size: 100% auto;
  pointer-events: none;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-animation: 2s fadeOutUp ease-in-out infinite;
  animation: 2s fadeOutUp ease-in-out infinite;
}
.pic-slide{
  position: relative;
  @include full;
  .pic-wrapper{
    position: relative;
    width: 700%;
    height: 100%;
  }
  .pic-item{
    float: left;
    height: 100%;
    position: relative;
    &:first-child{
      background: url("../images/bg1.jpg") no-repeat;
      background-size: cover;
      .person{
        position: absolute;
        left:30%;
        top:35%;
        width: 30%;
        height: 50%;
        background: url("../images/p1_03.png") no-repeat;
        background-size: contain;
        -webkit-animation-delay:0.5s;
        animation-delay: 0.5s;
        opacity: 0;
      }
      .words{
        position: absolute;
        width: 100%;
        height: 100%;
        left:0;
        top:0;
        -webkit-animation-delay: 1s;
        animation-delay: 1s;
        opacity: 0;
      }
      .words3{
        position: absolute;
        width: 100%;
        height: 100%;
        left:0;
        top:0;
        -webkit-animation-delay: 1s;
        animation-delay:1s;
        opacity: 0;
      }
        .words1{
          position: absolute;
          left:22%;
          top:30%;
          width: 45%;
          height: 40%;
          .word1{
            background: url("../images/gth.png") no-repeat;
            background-size: contain;
            width: 7%;
            height: 70px;
            position: absolute;
            top:10%;
            left:0;
            animation-delay: 0s;
          }
          .word2{
            background: url("../images/gth.png") no-repeat;
            background-size: contain;
            width: 7%;
            height: 70px;
            position: absolute;
            top:0;
            left:15%;

            animation-delay: .3s;
          }
          .word3{
            background: url("../images/gth.png") no-repeat;
            background-size: 70% auto;
            width: 7%;
            height: 70px;
            position: absolute;
            right:0;
            top:8%;

            animation-delay: .6s;
          }
        }
        .words2{
            .word4{
              position: absolute;
              width: 60%;
              height: 20%;
              top:10%;
              left:20%;
              background: url("../images/nzdm_big.png") no-repeat;
              background-size: contain;
              -webkit-animation-delay: 2s;
              animation-delay: 2s;
            }
          .word5{
            position: absolute;
            width: 17%;
            height: 10%;
           right:15%;
            top: 28%;
            background: url("../images/nzdm_small.png") no-repeat;
            background-size: contain;
            -webkit-animation-delay: 1.6s;
            animation-delay: 1.6s;
          }
          .word6{
            position: absolute;
            width: 10%;
            height: 10%;
            right:3%;
            top: 33%;
            background: url("../images/nzdm_small.png") no-repeat;
            background-size: contain;
            -webkit-animation-delay: 1s;
            animation-delay: 1s;
          }
        }


    }
    &:nth-of-type(2){
      background: url("../images/bg2.jpg") no-repeat;
      background-size: cover;

      .person{
        position: absolute;
        left:15%;
        top:37%;
        width: 30%;
        height: 35%;
        background: url("../images/p2_ren.png") no-repeat;
        background-size: contain;
        -webkit-animation-delay:0.5s;
        animation-delay: 0.5s;
        opacity: 0;
      }
      .box{
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
      }
      .box1{
        opacity: 0;
        width: 48%;
        height: 40%;
        left: auto;
        position: absolute;
        right: 3%;
        top: 30%;
        background: url("../images/p2-2.png")no-repeat;
        background-size: contain;
        -webkit-animation-delay:.6s;
        animation-delay: .6s;
       .img{
         background-size: contain;
         background-repeat: no-repeat;
         background-position: center center;
         position: absolute;
        top:-24px;
        }
        .img1{
          width: 100%;
          height: 100%;
          background-image: url("../images/p2-3.png");
          -webkit-transform-origin: 30% 30%;
          transform-origin: 20% 20%;
          -webkit-animation-delay:1.2s;
          animation-delay: 1.2s;
        }
      }
      .box2{
        opacity: 0;
        -webkit-animation-delay:1.5s;
        animation-delay: 1.5s;
        .img{
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center center;
          position: absolute;
          top:-10px;
        }
        .img2{
          background-image: url("../images/p2-4.png");
          width: 10%;
          height: 10%;
          left: 10%;
          top: 32%;
          -webkit-animation-delay:.9s;
          animation-delay: .9s;
        }
        .img3{
          background-image: url("../images/p2-4.png");
          width: 10%;
          height: 10%;
          left: 16%;
          top: 32%;
          background-size: 50% auto;
          background-position: right top;
          -webkit-animation-delay:1.2s;
          animation-delay: 1.2s;
        }
      }
      .img{
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
        position: absolute;
      }
      .img4{
        background-image: url("../images/p1-1-1.png");
        width: 60%;
        height: 20%;
        left: 20%;
        top: 10%;
        -webkit-animation-delay:2s;
        animation-delay: 2s;

      }
    }
    &:nth-of-type(3){
      background: url("../images/bg3.jpg") no-repeat;
      background-size: cover;
      .box{
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
      }
      .box1{
        width: 30%;
        height: 40%;
        background: url("../images/p4_2.png") center center no-repeat;
        background-size: contain;
        left: 6%;
        top: 40%;
        background-position: center top;
        z-index: 4;
        .img1{
          width: 16%;
          height: 10%;
          left: 15%;
          top: 21%;
          .img{
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-image: url("../images/p4_1.png");
            opacity: 1;
          }
        }
        .img2{
          width: 100%;
          height: 30%;
          top: -25%;
          background-image: url("../images/p4_4.png");
          left: 0;
          -webkit-transform-origin: center bottom;
          transform-origin: center bottom;
          opacity: 1;
        }
      }
      .img{
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
        position: absolute;

      }
      .img3{
        width: 60%;
        height: 40%;
        background-image: url("../images/p4_3.png");
        right: 8%;
        top: 30%;
        z-index: 1;
        -webkit-animation-delay:1s;
        animation-delay: 1s;
      }
      .img4{
        background-image: url("../images/p3-2.png");
        width: 60%;
        height: 20%;
        left: 20%;
        top: 10%;
        -webkit-animation-delay:1.5s;
        animation-delay: 1.5s;
      }

    }
    &:nth-of-type(4){
      background: url("../images/bg5.jpg") no-repeat;
      background-size: cover;
      .img{
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
        position: absolute;

      }
      .img1{
        width: 40%;
        height: 50%;
        background-image: url("../images/p5-4.png");
        left: 7%;
        top: 30%;
        -webkit-animation-delay:.2s;
        animation-delay: .2s;
        z-index:5;
      }
      .img2{
        width: 17%;
        height: 15%;
        background-image: url("../images/p5-2.png");
        right: 21%;
        top: 41%;
        -webkit-animation-delay:.6s;
        animation-delay: .6s;
      }
      .img3{
        width: 14%;
        height: 15%;
        background-image: url("../images/p5-3.png");
        right: 7%;
        top: 38%;
        -webkit-animation-delay:.9s;
        animation-delay: .9s;
      }
      .img4{
        width: 60%;
        height: 26%;
        left: 5%;
        top: 13%;
        background-image: url("../images/p5-1-2.png");
        -webkit-animation-delay:1.5s;
        animation-delay: 1.5s;
      }
      .img5{
        height: 50%;
        background-image: url("../images/p5-10.png");
        top: 34%;
        left: 0;
        opacity: 1;
        width: 100%;
      }
    }
    &:nth-of-type(5){
      background: url("../images/bg6.jpg") no-repeat;
      background-size: cover;
    .img{
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center center;
      position: absolute;
    }
      .box1{
        width: 78%;
        height: 32%;
        background-image: url("../images/p6_08.png");
        background-position: center bottom;
        top: 25%;
        left: 11%;
        -webkit-animation-delay:.5s;
        animation-delay: .5s;
        .img1{
          width: 30%;
          height: 50%;
          left: 2%;
          bottom: 0;
          background-image: url("../images/p6_06.png");
          background-position: center bottom;
          -webkit-animation-delay:.2s;
          animation-delay: .2s;
        }
        .img2{
          width: 30%;
          height: 90%;
          background-image: url("../images/p6_03.png");
          right: 2%;
          bottom: 0;
          background-position: center bottom;
          -webkit-animation-delay:.9s;
          animation-delay: .9s;
        }
        .img4{
          width: 100%;
          height: 100%;
          background-image: url("../images/p6_07.png");
          background-position: center top;
          left: 0;
          bottom: -100%;
          opacity: 1;
        }
      }
      .img3{
        width: 68%;
        height: 22%;
        left: 20%;
        top: 12%;
        background-image: url("../images/p6-1-2.png");
        -webkit-animation-delay:1.5s;
        animation-delay: 1.5s;
      }

    }
    &:nth-of-type(6){
      background: url("../images/bg3.jpg") no-repeat;
      background-size: cover;
      .iphon{
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
        position: absolute;
      }
      .iphon1{
        width: 50%;
        left: 0;
        top: 21%;
        height: 60%;
        background-image: url("../images/p8-2-1.png");
        -webkit-animation-delay:0.2s;
        animation-delay: 0.2s;
      }
      .iphon2{
        background-image: url("../images/p8_1.png");
        width: 49%;
        right: 3%;
        top: 14%;
        height: 70%;
        -webkit-animation-delay:1s;
        animation-delay: 1s;
      }
    }
    &:nth-of-type(7){
      background: url("../images/bg7.jpg") no-repeat;
      background-size: cover;
      .end{
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        opacity: 0;
      }
      .end1{
        width: 30%;
        top: 32%;
        left: 10%;
        height: 40%;
        opacity: 1;
        .img1{
          position: relative;
          width: 100%;
          height: 30%;
          background-image: url("../images/p7-1.png");
          background-position: center bottom;
          -webkit-animation-delay:.6s;
          animation-delay: .6s;
        }
        img{
          width: 100%;
          height: 47%;
          opacity: 1;
          display: block;
          position: relative;
          margin: 5px 0;
          -webkit-animation-delay:1.2s;
          animation-delay: 1.2s;
        }
        .img2{
          width: 100%;
          height: 20%;
          background-image: url("../images/p7-3.png");
          background-position: center top;
          position: relative;
          -webkit-animation-delay:1.2s;
          animation-delay: 1.2s;
        }
      }
      .img{
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
        position: absolute;
      }
      .img3{
        width: 30%;
        height: 40%;
        right: 15%;
        top: 30%;
        background-image: url("../images/p7_05.png");
        -webkit-animation-delay:.3s;
        animation-delay: .3s;
      }
      .img4{
        width: 55%;
        height: 20%;
        left: 22%;
        top: 10%;
        background-image: url("../images/p7-4.png");
        -webkit-animation-delay:2s;
        animation-delay:2s;
      }
    }
  }
}




