body{
    background: url("../image/bg.jpg");
    background-size: cover;
}

#platform {
    width: 100px;
    height: 100px;
    margin: 100px auto 0;
    transform-style: preserve-3d;
    animation: ani 10s linear infinite;
    cursor: pointer;
    position: relative;
}

#platform2 {
    width: 100px;
    height: 100px;
    margin: 100px auto 0;
    transform-style: preserve-3d;
    animation: ani 10s linear infinite;
    cursor: pointer;
    position: relative;
}

@font-face{
    font-family:caomei;
    src: url("../font/4.ttf");
    font-weight:bold;
}
@font-face{
    font-family:caomei2;
    src: url("../font/5.ttf");
    font-weight:bold;
}
@keyframes ani{
    100%{transform:rotateZ(360deg) rotateX(360deg) rotate(360deg) translateY(0px)}
}
#platform>div{
    font-family:caomei;
    font-size:40px;
    color: #ffffff;
    background: #000 !important;
    text-shadow:0 0  10px #02fdff;
    text-align: center;
    line-height: 100px;
    box-shadow: 0px 0px 50px #00fdff;
    position: absolute;
    width: 100px;
    height: 100px;
}
#platform>div.qian{
    background: red;
}
#platform>div.hou{
    background: green;
    transform:translateZ(100px) ;
}
#platform>div.zuo{
    background: pink;
    transform: rotateY(90deg) translateZ(-50px) translateX(-50px) ;
}
#platform>div.you{
    background: purple;
    transform: rotateY(90deg) translateZ(50px) translateX(-50px);
}
#platform>div.shang{
    background: cornflowerblue;
    transform:translateY(50px) translateZ(50px) rotateX(90deg);
}#platform>div.xia{
     background: darkslateblue;
     transform:translateY(-50px) translateZ(50px) rotateX(90deg);
 }


#platform2>div{
    font-family:caomei2;
    font-size:40px;
    color: #000;
    background: #fff !important;
    text-shadow:0 0  10px #02fdff;
    text-align: center;
    line-height: 100px;
    box-shadow: 0px 0px 50px #00fdff;
    position: absolute;
    width: 100px;
    height: 100px;
}
#platform2>div.qian{
    background: red;
}
#platform2>div.hou{
    background: green;
    transform:translateZ(100px) ;
}
#platform2>div.zuo{
    background: pink;
    transform: rotateY(90deg) translateZ(-50px) translateX(-50px) ;
}
#platform2>div.you{
    background: purple;
    transform: rotateY(90deg) translateZ(50px) translateX(-50px);
}
#platform2>div.shang{
    background: cornflowerblue;
    transform:translateY(50px) translateZ(50px) rotateX(90deg);
}#platform2>div.xia{
     background: darkslateblue;
     transform:translateY(-50px) translateZ(50px) rotateX(90deg);
 }
 @keyframes ani2{
     0%{transform:rotate(360deg)}
 }
 #rq{
    animation:ani2 5s linear infinite;
     width: 500px;
     margin: 200px auto;
 }